/* Base */
@import 'base/_variables.css';
@import 'base/_reset.css';
@import 'base/_typography.css';

/* Components */
@import 'components/_header.css';
@import 'components/_navigation.css';
@import 'components/_slider.css';
@import 'components/_buttons.css';
@import 'components/_stats.css';
@import 'components/_advantages.css';
@import 'components/_services.css';
@import 'components/_partners.css';
@import 'components/_compliance.css';
@import 'components/_footer.css';

/* Pages */
@import 'pages/_career-contact.css';
@import 'pages/_industries.css';
@import 'pages/_sustainability.css';
@import 'pages/_ethics.css';

/* Layouts */
@import 'layouts/_grid.css';

/* Responsive */
@import 'responsive/_mobile.css';