.btn-primary {
    border-radius: 10px;
    width: 235px;
    height: 60px;
    background: var(--coop-orange-accent);
    outline: none;
    border: none;
    font-family: 'FindSansPro';
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #fdfdfd;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}