footer {
    background: var(--coop-orange-accent);
    width: 100%;
    padding: 120px var(--content-padding);
}   

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 2em;
}

.logo-white {
    width: 222px;
    height: 111px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer a {
    color: #fdfdfd !important;
}