.slide-about{
    background-image: url(/img/about/slide.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 600px;
    width: 100%; 
    margin-top: 5em; 
}

.about-company{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10em;

    background-color: #fff;
    padding: 10em;
}

.about-company img{
    width: 365px;
}

.about-company p{
    width: 700px;
}

#stats-rus img{
    width: 365px;
    height: 491px;
}

 hr .about{
    border: 0.50px solid #fff;
    width: 760px;
    height: 0px;
 }

.mission-row, .values-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10em;
}


.values-column{
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 640px;
}

.pdf-row iframe{
    width: 358px;
    height: 500px;
}

.pdf-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.licenses h2{
    text-align: center;
}

.licenses{
    padding: 10em 0 10em 0;
    background-color: #fff;
}
.stats-separator {
    border: 0.5px solid #fff;
    width: 760px;
    margin: 2em auto;
}
#stats-rus {
    margin-top: -10em; 
}


.map-rf svg {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.map-rf path {
    fill: #ccc; /* базовый цвет */
    stroke: #fff;
    stroke-width: 1;
    cursor: pointer;
    transition: fill 0.3s;
}

.map-rf path:hover {
    fill: #ffa500; /* подсветка при hover */
}

.map-rf path.active {
    fill: orange; /* подсветка присутствия */
}

/* Tooltip */
.tooltip {
    position: absolute;
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    pointer-events: none;
    display: none;
}

.mission-row p{
    width: 640px;
}