.slide-career {
    background-image: url(/img/career.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 600px;
    width: 100%; 
    margin-top: 5em;
}

.slide-contact {
    background-image: url(/img/contact.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 600px;
    width: 100%; 
    margin-top: 5em;
}

.container {
    padding: 0 var(--content-padding);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map {
    width: 428px;
    height: 252px;
}

#career-wrapper{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-row {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.career-card {
    background: #fff;
    border-radius: 20px;
    padding-top: 20px;
    text-align: center;
    width: 364px;
    height: 410px;
    padding: 20px;
}

.career-card img {
   border-radius: 20px;
    width: 311px;
    height: 200px;
}

.career-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    color: #ec732c;
}

.career-card p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    text-align: left;
}

.positions {
    margin-top: 60px;
}

.vacancies-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vacancy-card {
    padding: 24px;
    border-radius: 16px;
    background: #F7F8F9;
    text-decoration: none;
    color: #000;
    display: block;
    transition: 0.25s;
}

.vacancy-card:hover {
    background: #e9ebed;
}

.vacancy-card h3 {
    margin-bottom: 8px;
    font-size: 20px;
}

.vacancy-card .city,
.vacancy-card .salary {
    font-size: 16px;
    color: #4a4a4a;
}

.positions {
    padding: 60px 0;
}

.positions h2 {
    margin-bottom: 30px;
    color: #012615; /* под зелёный цвет */
}

.no-vacancies {
    color: #444;
    font-size: 18px;
}

.vac-slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.vac-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px;
}

.vac-slider::-webkit-scrollbar {
    display: none;
}

.vac-card {
    min-width: 280px;
    background: #fff;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.08);
    border: 1px solid #eaeaea;
}

.vac-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #012615;
}

.vac-card .city {
    font-size: 15px;
    color: #777;
    margin-bottom: 10px;
}

.vac-card .salary {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #777;
}

.vac-card .salary.empty {
    opacity: 0.5;
}

.vac-arrow {
    background: #012615;
    color: #fff;
    border: none;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.2s;
}

.vac-arrow:hover {
    background: #024f2d;
}

/* Мобилки */
@media (max-width: 600px) {
    .vac-card {
        min-width: 240px;
    }

    .vac-arrow {
        display: none;
    }
}
