.slide-industries{
    background-image: url(/img/industries/slide.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 600px;
    width: 100%; 
    margin-top: 5em;
}

/* контейнер страницы */
.industries-page {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 20px;
}

/* главный контейнер каждой пары */
.industry-block {
    display: flex;
    align-items: center;
    justify-content: space-between; /* одинаковый отступ */
    gap: 60px;
    margin-bottom: 140px;
}

/* зеркальный вариант */
.industry-block.reverse {
    flex-direction: row-reverse;
}

/* ---- ИЗОБРАЖЕНИЕ ---- */
.industry-image {
    flex: 1; /* всегда одинаковая ширина блока */
    max-width: 520px;
}

.industry-image img {
    width: 100%;
    height: 520px; /* одинаковая высота, одинаковая сетка */
    object-fit: cover;
    border-radius: 12px;
}

/* ---- ТЕКСТ ---- */
.industry-text {
    flex: 1; /* текстовый блок тоже фиксирован */
    max-width: 600px;
}

.industry-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: #3F3E3E;
}

.industry-text p {
    font-size: 1.15rem;
    line-height: 1.7;
    color: #3F3E3E;
}

/* Планшетная версия */
@media (max-width: 1024px) {
    .industry-block {
        gap: 40px;
    }
    .industry-image img {
        height: auto;
    }
    .industry-text p {
        max-width: 100%;
    }
}

/* Мобильная версия */
@media (max-width: 767px) {
    .industry-block {
        flex-direction: column !important;
        gap: 20px;
        margin-bottom: 60px;
    }
    .industry-image img {
        width: 100%;
        height: auto;
    }
    .industry-text h2 {
        font-size: 1.2rem;
    }
    .industry-text p {
        font-size: 0.8rem;
    }

    p, h2{
        text-align: left;
    }
}
