
.sust-page {
    background: #022A1D;
    overflow: hidden;
    color: #E3F0DE;
}

.sust-page * {
    box-sizing: border-box;
}


/* ======================
   HERO
   ====================== */

.sust-hero {
    padding: 120px 0;
}

.sust-title {
    font-size: 56px;
    line-height: 1.2;
    margin-bottom: 60px;
    font-weight: 400;
    color: #E8F8E1;
}


.sust-img-grid {
    margin: 0 auto 70px;  
    display: grid;
    grid-template-columns: repeat(4, auto); 
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.sust-img-grid img {
    display: block;
    height: auto;       
    width: auto;         
    max-width: 100%;      
    object-fit: contain; 
}

.sust-wide {
    width: calc(100% - 240px);
    margin: 0 auto;
}


.sust-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.sust-col h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #D9F4CC;
}

.sust-col p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 400px;
    color: #C7E7C0;
}


/* ======================
   LIGHT BLOCK
   ====================== */

.sust-light {
    background: #F4F7EC;
    padding: 120px 0;
    color: #333;
}

.sust-two-col {
    display: grid;
    grid-template-columns: 480px 1fr;
    gap: 80px;
        display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sust-light-img img {
    border-radius: 20px;
    width: 511px;
    height: 769px;
}

.sust-item {
    margin-bottom: 35px;
    
}

.sust-item span {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #012615;
}

.sust-item p {
    line-height: 1.6;
    max-width: 520px;
    color: #012615;
}

.img-1{
    width: 190px;
    height: 475px;
}
.img-3{
    margin-top: 70px;
}

.sust-light-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body.sust-page-active footer {
    background: #012615 !important;
}

body.sust-page-active footer,
body.sust-page-active footer * {
    background-color: #012615 !important;
}
