h1 {
    font-size: 64px;
    font-weight: 400;
    color: #fdfdfd;
}

.desc {
    font-weight: 400;
    font-size: 20px;
    color: #fdfdfd;
    margin-top: -20px;
    max-width: 800px;
}

h2 {
    font-weight: 400;
    font-size: 48px;
    color: #fdfdfd;
}

h3 {
    font-weight: 400;
    font-size: 36px;
    color: #fdfdfd;
}

.black {
    color: #3f3e3e;
}

.secondary-p {
    font-size: 20px;
    max-width: 780px;
    margin-top: -10px;
}

.secondary-p-black {
    font-size: 20px;
    color: #3f3e3e;
}

.secondary-p-white, li {
    font-family: 'Inter';
    font-size: 20px;
    color: #fdfdfd;
}

h4 {
    font-weight: 400;
    font-size: 24px;
    color: #3f3e3e;
}

.small {
    font-size: 16px;
    color: #3f3e3e;
}

.disclaimer {
    font-weight: 400;
    font-size: 14px;
    color: #fdfdfd;
}

.disclaimer-black {
    font-weight: 400;
    font-size: 14px;
    color: #3f3e3e;
    margin-top: 20px;
}

h5 {
    font-weight: lighter;
    font-size: 20px;
    line-height: 400%;
    color: #fdfdfd;
}

.orange {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    color: var(--coop-orange-accent);
    font-family: 'FindSansPro';
}