/* career-responsive.css */

/* Мобилки до 768px (планшеты) */
@media (max-width: 768px) {
    h2{
        font-size: 32px;
        text-align: center;
    }

    h3{
        font-size: 28px;
    }

    .cards-row{
        justify-content: center;
    }

    .career-card{
        height: auto;
    }

    .vac-slider{
        display: flex;
        flex-direction: column;
    }
     .vac-hidden-mobile {
        display: none;
    }

    .vac-arrow-right, .vac-arrow{
        display: none;
    }

    .vac-slider-wrapper{
        display: flex;
        flex-direction: column;
    }
}
